bin/
dist/
.idea/
sts-backup
stackstate-backup-cli

sts-toolbox.yaml
values.yaml

.vscode/launch.json

__debug_bin

pkged.go
vendor/
result

*.swp

.go/
.gocache/
release-notes.md
release-notes.json

.localdev/
